
.pomodoroTimeBg {
  background-color: #BA4949;
  transition: all 500ms linear;
}
.shortBreakBg {
  background-color: #38858a;
  transition: all 500ms linear;
}
.longBreakBg {
  background-color: #397097;
  transition: all 500ms linear;
}

.pomodoroTimeTwoBg {
  background-color: #C15C5C;
  transition: all 500ms linear;
}
.shortBreakTwoBg {
  background-color: #4C9196;
  transition: all 500ms linear;
}
.longBreakTwoBg {
  background-color: #4D7FA2;
  transition: all 500ms linear;
}

.pomodoroTimeBtnColor {
  color: #BA4949;
  transition: all 50ms linear;
}
.shortBreakBtnColor {
  color: #38858a;
  transition: all 50ms linear;
}
.longBreakBtnColor {
  color: #397097;
  transition: all 50ms linear;
}
.pomodoroTimeBtnActive {
  background-color: #A44E4E !important;
  font-weight: bold;

}
.shortBreakBtnActive {
  background-color: #417B80 !important;
  font-weight: bold;
}
.longBreakBtnActive {
  background-color: #426C8A !important;
  font-weight: bold;
}





.estructure{
  max-width: 800px;
  margin: auto;
  padding-top: 10px;
}
